<!DOCTYPE html>
<html>
<head>
    <title>Fake Frontend</title>
</head>
<body>
    <h1>Login</h1>

    <h3>Username</h3>
    <input id="username" />
    <p></p>
    <h3>Password</h3>
    <input id="password" />
    <button onclick="sendUser()">Login</button>
    <p id="response"></p>

    <script>
        async function sendUser() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const res = await fetch('http://127.0.0.1:5000/api/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ "username": username, "password": password })
            });

        const data = await res.json();
        if (data.response === "success") {
            window.location.href = "/home"; // redirect on client side
        } else {
            document.getElementById("response").innerText = data.response;
        }}
    </script>
</body>
</html>